.nav-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 16px 20px 0;
  font-size: 14px;

  a {
    color: var(--text);
    text-decoration: none;

    &:hover {
      color: var(--text-h);
    }
  }

  .nav-bar-active {
    color: var(--accent);
    font-weight: 600;
  }
}
